<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="il.co.jws.app"
    android:installLocation="auto"
    android:versionCode="48"
    android:versionName="5.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode"
        android:theme="@style/AppTheme">
        <service android:name=".FcmBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".CustomFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".WidgetJobService"
            android:label="Word service"
            android:permission="android.permission.BIND_JOB_SERVICE" >

        </service>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdFreeCodeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CameraActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".FontSizeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".LargeAppWidgetConfigActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""></activity>

        <receiver
            android:name=".LargeAppWidgetProvider"
            android:icon="@drawable/large_portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="LARGE_WIDGET_FREQ_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/large_appwidget_info" />
        </receiver>
        <receiver
            android:name=".SmallAppWidgetProvider"
            android:icon="@drawable/small_preview">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="SMALL_WIDGET_FREQ_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_appwidget_info" />
        </receiver>
        <receiver
            android:name=".RectangleAppWidgetProvider"
            android:icon="@drawable/ic_notification">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="RECT_WIDGET_FREQ_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rect_appwidget_info" />
        </receiver>
        <receiver android:name=".ScreenReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>

        <service android:name=".UpdateService" />


    </application>

</manifest>